@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 210 14% 83%; /* #D3D3D3 */
    --foreground: 240 10% 3.9%;
    --card: 210 14% 83%;
    --card-foreground: 240 10% 3.9%;
    --popover: 210 14% 83%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 210 14% 50%; /* #708090 */
    --primary-foreground: 0 0% 98%;
    --secondary: 210 14% 90%;
    --secondary-foreground: 240 10% 3.9%;
    --muted: 210 14% 87%;
    --muted-foreground: 240 5% 44.9%;
    --accent: 39 100% 50%; /* #FFA500 */
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 210 14% 75%;
    --input: 210 14% 75%;
    --ring: 39 100% 50%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 39 100% 50%;
    --accent-foreground: 24 9.8% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 39 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    background: linear-gradient(
      180deg,
      hsl(var(--primary) / 0.1),
      hsl(var(--primary) / 0.2),
      hsl(var(--primary) / 0.1),
      hsl(var(--background))
    );
    background-size: 100% 400%;
    animation: move-bg 10s linear infinite;
  }
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

@keyframes move-bg {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}
